<article class="pa3 ma2 bg-white br3 shadow-4">
	    <div class="flex flex-column flex-row-l pa1 pa3-ns items-center">
	      <div class="w-100 w-60-l pr3-l order-2 order-1-l">
					<a href="{{ .Permalink }}" class="no-underline bg-grey-1 br1 mb2 db w-100">
	        	<h2 class="b near-black f2-ns f3 fw6 lh-title mt0">{{ .Title }}</h2>
					</a>
	        <p class="lh-copy f4-ns">
	          {{ if .Plain }}
							{{ safeHTML .Plain | truncate 370 }}
						{{ end }}
	        </p>

					<a class="f5-ns f6 link dim ba ph3 pv2 dib black" href="{{ .Permalink }}">Keep Reading →</a>
	      </div>
	      <div class="pl3-l order-1 order-2-l mb3 mb0-ns w-100 w-40-l">
      		{{ if .Params.image }}
						<img class="lozad" src="../images/image-placeholder.jpg" data-src="{{ .Params.image }}" alt="{{.Params.image_alt}}" />
					{{ else }}
					<!-- hacky way of allowing me to fetch article's image for old posts to populate div, without repeating core text content -->
						{{ .Content | safeHTML | truncate 2 ""}}
					{{ end }}
	      </div>
	    </div>
</article>
