<h4>Comments:</h4>

  {{ $comments := readDir "data/comments" }}
  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $slug := substr .Params.url 12 -1}}

  {{ range $comments }}
    {{ if eq .Name $slug }}
      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $slug ) }}
      <article class="flex lh-copy pa3 bb b--black-20 flex-wrap justify-around-ns ">
        <div class="w-100 w-10-l pa1 tc">
          <img class="br-100 w3 h3" src="https://www.gravatar.com/avatar/{{ .email }}?s=100" />
          <span class="f7 db black-90 underline">{{ .name }}:</span>
          <small>⏱ {{ dateFormat "02/01/2006" .date }}</small>
        </div>
        <div class="w-100 w-60-l pv2">
            <p class="f5-ns f6 db black-70 mv1">{{ .message }}</p>
        </div>
      </article>
      {{ end }}
    {{ end }}
  {{ end }}

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}
</section>
